@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #1754cf;
  --color-bg: #f6f6f8;
  --color-bg-dark: #111621;
  --font-family-display: "Newsreader", serif;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Newsreader", serif;
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
